*{
    margin: 0px;
    padding: 0px;
    font-family: Avenir, sans-serif;
   }
  body{
    background-image: url("laptop03.jpg");
  } 
  #apDiv1 {
    position: absolute;
    width: 365px;
    height: 75px;
    z-index: 1;
    left: 780px;
    top: 314px;
    background-color: #31643c;
    text-align: center;
    border-bottom: 1px solid rgb(250, 246, 246);
    border-radius: 10px;
}
#apDiv2 {
    position: absolute;
    width: 248px;
    height: 40px;
    z-index: 1;
    left: 36px;
    top: 15px;
    color: rgb(248, 240, 240);  
    font-size: 25px;            
    border-radius: 14px;
       }
       p:hover{
        font-size: 28px;
        color: rgb(209, 190, 79);
     }
nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
.conteneur-nav{
    position: absolute;
    width: 100%;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: gold;
}
nav ul{
    display: none;
    list-style-type: none;
    background-color: #555;
}
nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
}
nav ul li{
    flex: 1 1 auto;
    text-align: center;
}
nav > div > ul > li > a{
    color: white;
}
nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}
.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
    background-color: RGBa(200,200,200,0.8);
}

@media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;
    }
    nav label, nav input{
        display: none;
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
        background-color: green;
    }
    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: black;
    }
    nav a{
        border-bottom: 2px solid transparent;
    }
    nav a:hover{
        color: orange;
        border-bottom: 2px solid gold;
    }
    .sous{
        display: none;
        box-shadow: 0px 1px 2px rgb(35, 182, 79);
        background-color: rgb(188, 241, 195);
        position: absolute;
        width: 100%;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }
    .sous a{
        border-bottom: none;
        background-color: white;
    }
    .sous a:hover{
        border-bottom: none;
        background-color: RGBa(200,200,200,0.1);
    }
    .deroulant > a::after{
        content:" ▼";
        font-size: 12px;
    }
}

.conteneur-contenu{
    position: absolute;
    margin: 10px;
    padding: 15px;
	width: 1200px;
	height: 600px;
	z-index: 1;
	left: 400px;
	top: 200px;
    font-size: 24px;
    text-align: center;
    background-color: green;
    box-shadow: 10px 10px  goldenrod;
        color:rgb(250, 251, 253)
        
 
 
}